<div class="form-group" id="mes_anio_f">    
    
    
</div>
<div class="form-group" id="dependencia_f" style="width: 70%">    
    <table border="0" style="width: 100%">
        <TR>
            <TD><label for="anio_mes">Mes/A&ntilde;o</label></TD>
            <TD><label for="establecimiento">{{'_establecimiento_'|trans}}</label></TD>
            <TD><label for="dependencia">{{'_dependencia_'|trans}}</label></TD>            
        </TR>
        <TR>
            <TD><input type="text" class="form-control" id="anio_mes" name="anio_mes" size="10" value="{{parametros.anio_mes}}"></TD>
            <TD>
                <select id="establecimiento" name="establecimiento">
                    <option value="-1" selected>{{'_elija_establecimiento_'|trans}}</option>
                    {% for unidad in estructura %}
                        {% if unidad.nivel == 1 %}                
                            <option value="{{unidad.codigo}}" {% if unidad.codigo == parametros.establecimiento %}selected="selected"{% endif %}>{{unidad.nombre}}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </TD>
            <TD style="width: 40%">
                <select id="dependencia" name="dependencia" style="width: 100%">
                    <OPTION VALUE=''>{{'_seleccione_dependencia_'|trans}}</option>
                    {% for unidad in estructura %}
                        {% if unidad.nivel == 3 and unidad.parent.parent.codigo == parametros.establecimiento%}
                            <option value="{{unidad.codigo}}" {% if unidad.codigo == parametros.dependencia %}selected="selected"{% endif %}>{{unidad.parent.nombre}} -- {{unidad.nombre}}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </TD>
        </TR>
    </table>
</div>
<br/>