{% extends 'CostosBundle:Formulario:show.html.twig' %}
{% block javascripts %} 
    {{ parent() }}
    <script src="{{ asset('bundles/costos/js/rrhhValorPagado.js') }}" type="text/javascript"></script>
{% endblock %}
{% block frm_head %}
    <div class="form-group" id="mes_anio_f"></div>
    <div class="form-group" id="dependencia_f" style="width: 70%">    
        <table border="0" style="width: 100%">
            <TR>
                <TD><label for="anio_mes">{{'_anio_'|trans}}</label></TD>
                <TD><label for="establecimiento">{{'_establecimiento_'|trans}}</label></TD>
            </TR>
            <TR>
                <TD>
                    <select id="anio" name="anio">
                        {% for p in Frm.periodosIngreso %}
                            {% set periodo = p|split('/') %}
                            <option value="{{periodo[1]}}" {% if p == parametros.anio %}selected="selected"{% endif %}>{{periodo[1]}}</option>
                        {% endfor %}
                    </select>
                </TD>
                <TD>
                    <select id="establecimiento" name="establecimiento">
                        <option value="-1" selected>{{'_elija_establecimiento_'|trans}}</option>
                        {% for unidad in estructura %}
                            {% if unidad.nivel == 1 %}                
                                <option value="{{unidad.codigo}}" {% if unidad.codigo == parametros.establecimiento %}selected="selected"{% endif %}>{{unidad.nombre}}</option>
                            {% endif%}
                        {% endfor %}
                    </select>    
                </TD>
                <TD style="width: 40%">
                    <div style="visibility: hidden;">
                        <select id="dependencia" name="dependencia">        
                        </select>
                    </div>                    
                </TD>
            </TR>
        </table>
    </div>
    <br/>
    {{ parent() }}
{% endblock %}