{% extends 'CostosBundle:Formulario:show.html.twig' %}
{% block frm_head %}
    <div class="form-group" id="mes_anio_f"></div>
    <div class="form-group" id="dependencia_f" style="width: 70%">    
        <table border="0" style="width: 100%">            
            <TR>                
                <TD>
                    <select id="periodo_estructura" name="periodo_estructura">
                        <option value="-1" selected>{{'_elija_parametros_'|trans}}</option>
                        {% for pEstructura in periodosEstructura %}
                            
                            {% if cantFrm > 1 %}
                                <optgroup label="{{'_formulario_'|trans}}: {{pEstructura.formulario}}">
                            {% endif %}
                                <option value="{{pEstructura.id}}" {% if pEstructura.id == parametros.periodo_estructura %}selected="selected"{% endif %} >                                    
                                    {% if pEstructura.unidad.nivel == 1 %}
                                        {{pEstructura.periodo}} - {{pEstructura.unidad}}
                                    {% elseif pEstructura.unidad.nivel == 2 %}
                                        {{pEstructura.periodo}} - {{pEstructura.unidad.parent}}::{{pEstructura.unidad}}
                                    {% elseif pEstructura.unidad.nivel == 3 %}
                                        {{pEstructura.periodo}} - {{pEstructura.unidad.parent.parent}} :: {{pEstructura.unidad.parent}} :: {{pEstructura.unidad}}
                                    {% endif%}
                                </option>
                            {% if cantFrm > 1 %}
                                </optgroup>
                            {% endif%}
                        {% endfor %}
                    </select>
                </TD>
            </TR>
        </table>
    </div>
    <br/>
    {{ parent() }}
{% endblock %}