{% extends 'IndicadoresBundle::standard_layout.html.twig' %}
{% block stylesheets %}    
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/costos/js/jqwidgets/styles/jqx.base.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/costos/js/jqwidgets/styles/jqx.energyblue.css') }}" type="text/css" media="all" />
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxcore.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxdata.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxbuttons.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxscrollbar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxmenu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxcheckbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxlistbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxdropdownlist.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.sort.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.pager.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.selection.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.edit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxgrid.columnsresize.js') }}" type="text/javascript"></script>    
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxscrollbar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxbuttons.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxcheckbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxdropdownlist.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/costos/js/jqwidgets/jqxlistbox.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $.jqx.theme = 'energyblue';
            var data = new Array();
            // prepare the data
            var source =
            {
                datatype: "json",
                updaterow: function (rowid, rowdata, commit) {
                    // synchronize with the server - send update command
                    // call commit with parameter true if the synchronization with the server is successful 
                    // and with parameter false if the synchronization failder.
                    alert(JSON.stringify(rowdata));
                    commit(true);
                },
                datafields: [
                    {% for campo in Frm.campos %}
                        {% if campo.origenPivote %} 
                            {% for campoPivote in pivotes[campo.significadoCampo.codigo] %}
                                { name: '{{campo.significadoCampo.codigo}}_{{campoPivote.id}}', type: '{{campo.tipoDato.codigo}}' },
                                {% if campo.origen or campo.significadoCampo.catalogo != '' %} 
                                    { name: '{{campo.significadoCampo.codigo}}Source', value: '{{campo.significadoCampo.codigo}}', 
                                        values: { source: {{origenes[campo.significadoCampo.codigo]|raw}}, value: 'id', name: 'descripcion' } },
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            { name: '{{campo.significadoCampo.codigo}}', type: '{{campo.tipoDato.codigo}}' },
                            {% if campo.origen or campo.significadoCampo.catalogo != '' %} 
                                { name: '{{campo.significadoCampo.codigo}}Source', value: '{{campo.significadoCampo.codigo}}', 
                                    values: { source: {{origenes[campo.significadoCampo.codigo]|raw}}, value: 'id', name: 'descripcion' } },
                            {% endif %}
                        {% endif %}
                    {% endfor %}                    
                ],
                localdata: data,                
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                columnsresize: true,
                editable: true,
                selectionmode: 'multiplecellsadvanced',
                columns: [
                    {% for campo in Frm.campos %}                        
                        {% if campo.origenPivote %}
                            {% set Pivotes_ =  pivotes[campo.codigo] %}
                        {% else %}
                            {% set Pivotes_ = [campo] %}
                        {% endif %}

                        {% for pivote in Pivotes_ %}
                        {
                            {% if campo.origenPivote %}
                                text: '{{pivote.descripcion}}', 
                                datafield: '{{campo.significadoCampo.codigo}}_{{pivote.id}}', 
                            {% else %}
                                text: '{{campo.significadoCampo.descripcion}}', 
                                datafield: '{{campo.significadoCampo.codigo}}', 
                            {% endif %}
                            align: 'center',                            
                            width: {{campo.ancho|default(100)}}, 
                            cellsalign: '{{campo.alineacion.codigo|default('left')}}',
                            editable: {{campo.esEditable|default('false')}},
                            columntype: '{{campo.tipoControl.codigo}}',
                            {% if campo.origen or campo.significadoCampo.catalogo != '' %} displayfield: '{{campo.significadoCampo.codigo}}Source', 
                                createeditor: function (row, value, editor) {
                                    editor.jqxDropDownList({ source: {{origenes[campo.significadoCampo.codigo]|raw}}, displayMember: 'descripcion', valueMember: 'id' });
                                }
                            {% endif %}
                            {% if campo.grupoColumnas %} columngroup: '{{campo.grupoColumnas.codigo}}', {% endif %}
                            {% if campo.formato %} cellsformat: '{{campo.formato.formato}}', {% endif %}
                            {% if campo.reglaValidacion %}
                                validation: function (cell, value) {
                                    if ({{campo.reglaValidacion|raw}}) {
                                        return true;
                                    }
                                    return { result: false, message: "{{campo.msjValidacion|default('_dato_no_valido_')|trans}}" };
                                }
                            {% endif %}
                            {% if campo.formula %} 
                                cellsrenderer: function (index, datafield, value, defaultvalue, column, rowdata) {
                                    {{campo.formula|raw}};
                                    return "<div  class='jqx-{{campo.alineacion.codigo|default('left')}}-align'>" + dataAdapter.formatNumber(result,'{{campo.formato.formato|default('')}}') + "</div>";
                                }, 
                            {% endif %}
                        },
                        {% endfor %}
                    {% endfor %}
                ],
                {% set item_count = 0 %}
                {% for grp in Frm.gruposColumnas %}
                    {% set item_count = item_count+1 %}
                {% endfor %}
                {% if item_count > 0 %}
                    columngroups: [
                        {% for grp in Frm.gruposColumnas %}
                            { text: '{{grp.descripcion}}', 
                                align: 'center', 
                                name: '{{grp.codigo}}',
                                {% if grp.grupoPadre %} parentgroup: '{{grp.grupoPadre.codigo}}', {% endif %}
                            },
                        {% endfor %}
                    ]       
                {% endif %}
            });
            
            $("#cargar_datos").click(function () {        
                if (checkFrm()){
                    $.post(Routing.generate('{{url}}', {id: {{Frm.id}} }), {datos_frm: $('#frm_').serialize()},
                    function(resp) {
                        if (resp.estado == 'ok') {
                            $('#mensaje').html('');
                            source.localdata = resp.data;
                            // passing "cells" to the 'updatebounddata' method will refresh only the cells 
                            // values when the new rows count is equal to the previous rows count.
                            $("#jqxgrid").jqxGrid('updatebounddata', 'cells');
                            $("#jqxgrid").jqxGrid('autoresizecolumns');
                        }
                        else {
                            $('#mensaje').html('<div class="alert alert-danger" role="alert">'+resp.msj+'</div>');
                        }

                    }, 'json');
                }
                
            });
            $("#clear").click(function () {
                $("#jqxgrid").jqxGrid('clear');
                $('#mensaje').html('');
            });
        });
        
        function checkFrm() {
            var error = false;
            $.each(controles, function (index, value) {
                if ($('#' + value).val() == '') {
                    error = true;
                    $('#' + value+'_f').addClass('has-error');
                } else {
                    $('#' + value+'_f').removeClass('has-error');
                }
            });
            if (error == true) {
                $('#mensaje').html('<div class="alert alert-danger" role="alert">{{'_faltan_datos_requeridos_'|trans}}</div>');
                return false;
            } else return true;
        }
    </script>
{% endblock javascripts %}
{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">{{'_formulario_rrhh_valor_pagado_titulo_'|trans}}</span>
        </div>
    </nav>
        <form id="frm_" class="form-inline" onsubmit="return false">
        <div class="box-body">        
            {% block frm_head %}
                <button class="btn btn-success" name="cargar_datos" id="cargar_datos" >{{'_cargar_datos_'|trans}}</button>
                <button class="btn btn-danger" name="clear" id="clear" >{{'_limpiar_'|trans}}</button>
                <DIV id="mensaje"></div>
            {% endblock frm_head %}
            {% block grid %}
                <div id='jqxWidget' style="padding: 10px;">
                    <div id="jqxgrid" ></div>
                </div>
            {% endblock %}
            {% block frm_foot %} {% endblock frm_foot %}
        </div>
    </form>
{% endblock content %}
