{# Modificado para que agregar el botón para ir al listado #}

{% extends 'SonataAdminBundle:CRUD:delete.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasroute('list') and admin.isGranted('LIST')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">
                <i class="icon-list"></i>
                {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
            </a>
        {% endif %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('create') }}">
                <i class="icon-plus-sign"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
            </a>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h1>

        {{ 'message_delete_confirmation'|trans({'%object%': object}, 'SonataAdminBundle') }}

        <div class="well form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                <input type="hidden" value="DELETE" name="_method" />

                <button type="submit" class="btn btn-danger" />
                    <i class="icon-trash"></i>
                    {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}
                </button>

                {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                    <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                        <i class="icon-edit"></i>
                        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}