{% extends 'FOSUserBundle::layout.html.twig' %}
{%block javascripts %}
    {{parent()}}
<script src="{{ asset('bundles/applicationsonatauser/js/change_password.js') }}" type="text/javascript"></script>
{%endblock%}
{% block fos_user_content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
        <div>
            <input id="guardar" type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            <a class="btn sonata-action-element" href="{{ path('_inicio') }}">
                <i class="icon-home"></i>Regresar
            </a>
        </div>
    </form>
{% endblock fos_user_content %}
