        <div class="content tab-pane" id="listado_indicadores" >
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                {{"favoritos"|trans}} (<span id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>)
                          </a>
                        </h4>
                    </div>                    
                     <div id="collapse4" class="panel-collapse collapse in">
                        <div class="accordion-inner">
                            <ul class="dropdown-menu dropdown-menu-visible" id='listado-favoritos'>
                                {% for indicador in app.user.favoritos %}
                                <li ><A id='fav-{{indicador.id}}' class='indicador'
                                        data-id='{{indicador.id}}'
                                        data-unidad-medida='{{indicador.unidadMedida}}'>
                                                {{indicador.nombre}}
                                    </A>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>                
                {% for categoria in categorias %}
                    {% if categoria.indicadores|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapsecat{{categoria.cat.id}}">
                                        {{categoria.cat.descripcion}} ({{categoria.indicadores|length}})
                                  </a>
                                </h4>
                            </div>                            
                             <div id="collapsecat{{categoria.cat.id}}" class="panel-collapse collapse">
                                 <div class="accordion-inner">
                                     <ul class="dropdown-menu dropdown-menu-visible" >
                                        {% for indicador in categoria.indicadores %}
                                        <li ><A id='{{indicador.id}}' class='indicador'
                                                data-id='{{indicador.id}}'
                                                data-unidad-medida='{{indicador.unidadMedida}}'>
                                                                {{indicador.nombre}}
                                            </A>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                 </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% if indicadores_no_clasificados|length > 0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseNC">
                                        {{"_no_clasificados_"|trans}} (<span id='cantidad_no_clasificados'>{{indicadores_no_clasificados|length}}</span>)
                                  </a>
                                </h4>
                        </div>                        
                         <div id="collapseNC" class="accordion-body collapse">
                             <div class="accordion-inner">
                                 <ul class="dropdown-menu dropdown-menu-visible" >
                                    {% for indicador in indicadores_no_clasificados %}
                                        <li ><A id='{{indicador.id}}' class='indicador'
                                                data-id='{{indicador.id}}'
                                                data-unidad-medida='{{indicador.unidadMedida}}'>
                                                            {{indicador.nombre}}
                                            </A>
                                        </li>
                                    {% endfor %}
                                </ul>
                             </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> 