        {% set clasificacion_seleccionada = ''%}
        <div class="content tab-pane active" id="listado_indicadores" >            
            <div class="btn-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            {{'_clasificacion_indicadores_'|trans}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for clasificacion in clasificacionUso %}
                                {% if clasificacion.codigo == app.user.clasificacionUso.codigo|default('') %}
                                    <li class='active'><A >{{clasificacion.descripcion}}</a></li>
                                    {% set clasificacion_seleccionada =  clasificacion.descripcion %}
                                {% else %}
                                    <li ><a href='{{url('change_clasificacion_uso',{codigo_clasificacion:clasificacion.codigo})}}'>{{clasificacion.descripcion}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <input type="text" class="form-control" value="{{clasificacion_seleccionada}}" readonly />
                    
                    <div class="input-group-addon btn-success btn"><span class="glyphicon glyphicon-search"></span></div>
                    <input class="form-control" type="search" id='FiltroNoClasificados' placeholder="{{'_buscar_indicador_'|trans}}...">
                </div>                
            </div><br/><br/>
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                {{"favoritos"|trans}} <span class="badge" id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>
                          </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div id="collapse4" class="panel-collapse collapse in">
                            <div class="accordion-inner list-group" id='listado-favoritos'>
                                {% for indicador in app.user.favoritos %}
                                <A id='fav-{{indicador.id}}' class='indicador list-group-item'
                                    data-id='{{indicador.id}}'
                                    data-unidad-medida='{{indicador.unidadMedida}}'>
                                            {{indicador.nombre}}
                                </A>                                
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>                
                {% for categoria in categorias %}
                    {% if categoria.indicadores|length > 0 %}
                        <div class="panel panel-default panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapsecat{{categoria.cat.id}}">
                                      {{categoria.cat.descripcion}} <span class="badge" >({{categoria.indicadores|length}})</span>
                                  </a>
                                </h4>
                            </div>                            
                             <div id="collapsecat{{categoria.cat.id}}" class="panel-collapse collapse">
                                 <div class="accordion-inner list-group">
                                    {% for indicador in categoria.indicadores %}
                                    <A id='{{indicador.id}}' class='indicador list-group-item'
                                            data-id='{{indicador.id}}'
                                            data-unidad-medida='{{indicador.unidadMedida}}'>
                                                            {{indicador.nombre}}
                                        </A>
                                    {% endfor %}
                                 </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% if indicadores_no_clasificados|length > 0 %}
                    <div class="panel panel-default panel-info">
                        <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseNC">
                                        {{"_no_clasificados_"|trans}} <span class="badge" id='cantidad_no_clasificados'>{{indicadores_no_clasificados|length}}</span>
                                  </a>
                                </h4>
                        </div>  
                        <div class="panel-body">
                            <div id="collapseNC" class="accordion-body collapse">                                
                                <div class="accordion-inner list-group">
                                {% for indicador in indicadores_no_clasificados %}
                                    <A class='indicador list-group-item' id='{{indicador.id}}' 
                                            data-id='{{indicador.id}}'
                                            data-unidad-medida='{{indicador.unidadMedida}}'>
                                                        {{indicador.nombre}}
                                    </A>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> 