<div id='menu_sala' class='btn-toolbar' data-spy="affix" data-offset-top="150">
    <div class="accordion-heading btn-group">
        <a class="btn accordion-toggle" data-toggle="collapse"  href="#collapseOne" title="{{'_ocultar/mostrar_menu_principal_'|trans}}">
            <i class="icon-resize-full"></i>
        </a>
    </div>
    <div class='btn-group'>
        <a href='#' class="btn dropdown-toggle" data-toggle="dropdown" >
            <i class="icon-th"></i>{{'_sala_'|trans}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><A id='agregar_fila' >{{'_agregar_area_grafico_'|trans}}</a></li>
            <li><A id='quitar_indicador' >{{'_quitar_indicador_'|trans}}</a></li>
            <li><A href="#myModal" data-toggle="modal">{{'_guardar_sala_'|trans}}</A></li>
            <li ><A href="#clasificacionModal" data-toggle="modal">{{'_clasificacion_indicadores_'|trans}} ...</A></li>
            <li class="divider"></li>
            <li class="nav-header">{{'_salas_'|trans}}</li>
                {% for sala in salas %}
            <li><A sala-id='{{sala.datos_sala.id}}' sala-nombre='{{sala.datos_sala.nombre}}' class='salas-id' data="{{sala.indicadores_sala|json_encode()}}">{{sala.datos_sala.nombre}}</A></li>
                {% endfor %}
        </ul>
    </div>
    <div class='btn-group'>
        <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" >
            <i class="icon-align-left"></i>{{"indicadores"|trans}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ><a href="#favoritosModal" data-toggle="modal">{{"favoritos"|trans}} (<span id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>)</a></li>

        {% for categoria in categorias%}
            {% if categoria.indicadores|length > 0 %}
            <li ><A href="#categoria_{{categoria.cat.id}}Modal" data-toggle="modal"> {{categoria.cat.descripcion}} ({{categoria.indicadores|length}}) </A></li>
            {% endif %}
        {% endfor %}

        {% if indicadores_no_clasificados|length > 0 %}
            <li ><A href="#noClasificadosModal" data-toggle="modal">{{"_no_clasificados_"|trans}} (<span id='cantidad_no_clasificados'>{{indicadores_no_clasificados|length}}</span>)</A></li>
        {% endif %}
        </ul>
    </div>
</div>
<div id="clasificacionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
        {% for clasificacion in clasificacionUso %}
            {% if clasificacion.codigo == app.user.clasificacionUso.codigo|default('') %}
                <li class='active'><A>{{clasificacion.descripcion}}</A></li>
            {% else %}
                <li > <a href='{{url('change_clasificacion_uso',{codigo_clasificacion:clasificacion.codigo})}}'>{{clasificacion.descripcion}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>


<div id="favoritosModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 >{{"favoritos"|trans}}</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs nav-stacked" id='listado-favoritos'>
        {% for indicador in app.user.favoritos %}
            <li ><A id='fav-{{indicador.id}}' class='indicador' data-dismiss="modal"
                    data-id='{{indicador.id}}'
                    data-unidad-medida='{{indicador.unidadMedida}}'>
                            {{indicador.nombre}}
                </A>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% for categoria in categorias%}
    {% if categoria.indicadores|length > 0 %}
    <div id="categoria_{{categoria.cat.id}}Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 >{{categoria.cat.descripcion}}</h3>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs nav-stacked" >
                {% for indicador in categoria.indicadores %}
                <li ><A id='{{indicador.id}}' class='indicador' data-dismiss="modal"
                        data-id='{{indicador.id}}'
                        data-unidad-medida='{{indicador.unidadMedida}}'>
                                        {{indicador.nombre}}
                    </A>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endfor %}


{% if indicadores_no_clasificados|length > 0 %}
<div id="noClasificadosModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 >{{"_no_clasificados_"|trans}}</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs nav-stacked" >
            {% for indicador in indicadores_no_clasificados %}
            <li ><A id='{{indicador.id}}' class='indicador' data-dismiss="modal"
                    data-id='{{indicador.id}}'
                    data-unidad-medida='{{indicador.unidadMedida}}'>
                                {{indicador.nombre}}
                </A>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
