
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#sala">{{'_graficos_'|trans}}</a></li>
    <li><a href="#opciones_sala">{{'opciones'|trans|capitalize}}</a></li>
    <li><a href="#listado_indicadores">{{"indicadores"|trans}}</a></li>
    <li><a href="#social">{{"_social_"|trans}}</a></li>
    <li><a href="#acciones_sala">{{"_sala_acciones_"|trans}}</a></li>
</ul>