{# Modificado para que agregar el botón para ir al listado #}

{% extends 'IndicadoresBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/FichaTecnicaAdmin/tablero.css') }}" type="text/css" media="all" />
{% endblock %}    
    
{% block javascripts %}    
    {{ parent() }}
    <script src="{{ asset('bundles/indicadores/js/d3/d3.v2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/comun.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_pastel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_columnas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_lineas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_mapa.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/tablero.js') }}" type="text/javascript"></script>
{% endblock %}
    


{% block content %}
    <div id="div_carga">
        <img id="cargador" src="{{ asset('bundles/indicadores/images/ajax-loader.gif') }}"/>
    </div>
    <div class="tablero container-fluid" id='tablero'>
        <i id='ocultar_panel_izq' class="icon-arrow-left"></i>
        <div class="row-fluid">
            <div class='span3' id='listado_indicadores' style='overflow-y: auto'>
                <H4>{{"favoritos"|trans}} (<span id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>)</H4>
                <DIV >
                    <ul id='listado-favoritos'>
                    {% for indicador in app.user.favoritos %}
                        <li id='li_fav-{{indicador.id}}'><A href="#" id='fav-{{indicador.id}}' 
                                data-id='{{indicador.id}}'
                                data-unidad-medida='{{indicador.unidadMedida}}'>
                                {{indicador.nombre}}
                            </A>
                        </li>
                    {% endfor %}
                    </ul>
                </DIV>
                {% for categoria in categorias%}
                    <H4>{{categoria.descripcion}} ({{categoria.indicadores|length}})</H4>
                    <DIV >
                        <ul>
                        {% for indicador in categoria.indicadores %}
                            <li><A href="#" id='{{indicador.id}}' 
                                   data-id='{{indicador.id}}'
                                   data-unidad-medida='{{indicador.unidadMedida}}'>
                                    {{indicador.nombre}}
                                </A>
                            </li>
                        {% endfor %}
                        </ul>
                    </DIV>
                {% endfor %}
            </div>            
            <div class="span9" id='tablero_graficos'>
                 <div class="span9" >
                     <div class="span14" >
                        <h3 id='titulo_indicador'></h3>
                        <h6 id='filtros_dimensiones' data=''></h6>
                        <div id='controles' class='btn-toolbar'></div>
                        <div class="row" >
                            <div class="span8" >
                                <div id="graficoPrimario" ></div>
                            </div>                            
                        </div>                        
                        <div class="row" >
                            <div id='dimension' class='span3' style="text-align: right"></div>
                            <div id='controlesDimension' class='span6'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>    
{% endblock %}