{# Modificado para que agregar el botón para ir al listado #}

{% extends 'IndicadoresBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/FichaTecnicaAdmin/tablero.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/DataTables/media/css/jquery.dataTables.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/DataTables/media/css/TableTools.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/ryrych-rcarousel/widget/css/rcarousel.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/ryrych-rcarousel/examples/rlightbox/css/lightbox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/FichaTecnicaAdmin/carrusel.css') }}" type="text/css" media="all" />
    <!--EDITADO PARA NUEVOS TIPOS DE GRAFICOS (CSS)-->
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/FichaTecnicaAdmin/gauge.css') }}" type="text/css" media="all" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/indicadores/js/d3.v2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/affix.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/tablero.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/comun.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_pastel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_columnas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_lineas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_mapa.js') }}" type="text/javascript"></script>
    
    <script src="{{ asset('bundles/indicadores/js/bridge_draggable_touch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/jquery.ui.touch-punch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/rasterizeHTML.allinone.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/DataTables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/DataTables/ZeroClipboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/DataTables/TableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/ryrych-rcarousel/widget/lib/jquery.ui.rcarousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/ryrych-rcarousel/examples/rlightbox/lib/jquery.ui.rlightbox.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/carrusel.js') }}" type="text/javascript"></script>
    
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_gauge.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_termometro.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/iopctrl.js') }}" type="text/javascript"></script>
    
{% endblock %}

{% block content %}
<div id="div_carga" class='affix'>
    <img id="cargador" src="{{ asset('bundles/indicadores/images/ajax-loader.gif') }}"/>
</div>
<div class="marco-sala">
{# {% if is_mobile() %} #}
    {#{% include 'IndicadoresBundle:FichaTecnicaAdmin:menu_tablero_mobile.html.twig' %}#}
{#{% else %} #}
    {% include 'IndicadoresBundle:FichaTecnicaAdmin:menu_tablero.html.twig' %}
{#{% endif %}#}

    {# sección de configuración #}    
    <input type="hidden" value="{{confTablero.ocultar_menu_principal}}" id="ocultar_menu_principal">
    
    <style>
        .area_grafico { 
            width: {{confTablero.ancho_area_grafico}}px; 
            height: {{confTablero.ancho_area_grafico}}px; 
        }
        .marco-sala:after {
            font-size: {{confTablero.titulo_sala_tamanio_fuente}}pt;
        }
    </style>
    
    <div id='nombre_sala2' ></div>
    <div class="tab-content">        
        <div class="content tab-pane active" id="sala" >
            {% for i in 1..confTablero.graficos_por_fila%}
            <div class="area_grafico {% if i==1 %} zona_actual {% endif%}" id='grafico_{{i}}' >
                <DIV class= 'titulo'><span class='titulo_indicador'></span>
                    <span>({{'_por_'|trans}} <span class='dimension' ></span>)</span>
                </DIV>
                <h6 class='filtros_dimensiones'></h6>
                <div class='controles btn-toolbar'></div>
                <div class="row-fluid info" ></div>
                <div class="row-fluid row_grafico" >
                    <div class="grafico" ></div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="content tab-pane" id="opciones_sala">
            <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                            {{'_acciones_'|trans}}
                          </a>
                        </h4>
                    </div>
                     <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="dropdown-menu dropdown-menu-visible" role="menu" >
                                <li><A id='agregar_fila' >{{'_agregar_area_grafico_'|trans}}</a></li>
                                <li><A id='quitar_indicador' >{{'_quitar_indicador_'|trans}}</a></li>
                                <li><!-- Button to trigger modal -->
                                    <a href="#myModal" data-toggle="modal">{{'_guardar_sala_'|trans}}</a>
                                </li>
                                <li><a id="aCollapseOne" href="#" >
                                    {{'_ocultar/mostrar_menu_principal_'|trans}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                            {{'_clasificacion_indicadores_'|trans}}
                          </a>
                        </h4>
                    </div>                    
                     <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="dropdown-menu dropdown-menu-visible" role="menu" >
                                {% for clasificacion in clasificacionUso %}
                                    {% if clasificacion.codigo == app.user.clasificacionUso.codigo|default('') %}
                                        <li class='active'><A >{{clasificacion.descripcion}}</a></li>
                                    {% else %}
                                        <li ><a href='{{url('change_clasificacion_uso',{codigo_clasificacion:clasificacion.codigo})}}'>{{clasificacion.descripcion}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                            {{'_salas_'|trans}}
                          </a>
                        </h4>
                    </div>                                        
                    <div id="collapse3" class="panel-collapse collapse">
                       <div class="panel-body">
                           <ul id='listado-salas' class="dropdown-menu dropdown-menu-visible" role="menu" >
                               {% for sala in salas %}
                                   <li sala-id='{{sala.datos_sala.id}}'><A sala-id='{{sala.datos_sala.id}}' sala-nombre='{{sala.datos_sala.nombre}}' class='salas-id' data="{{sala.indicadores_sala|json_encode()}}">{{sala.datos_sala.nombre}}</A></li>
                               {% endfor %}
                           </ul>                            
                       </div>
                    </div>
                </div>                
                
                
            </div>
        </div>        
        <div class="content tab-pane" id="listado_indicadores" >
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                {{"favoritos"|trans}} (<span id='cantidad_favoritos'>{{app.user.favoritos|length}}</span>)
                          </a>
                        </h4>
                    </div>                    
                     <div id="collapse4" class="panel-collapse collapse in">
                        <div class="accordion-inner">
                            <ul class="dropdown-menu dropdown-menu-visible" id='listado-favoritos'>
                                {% for indicador in app.user.favoritos %}
                                <li ><A id='fav-{{indicador.id}}' class='indicador'
                                        data-id='{{indicador.id}}'
                                        data-unidad-medida='{{indicador.unidadMedida}}'>
                                                {{indicador.nombre}}
                                    </A>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>                
                {% for categoria in categorias %}
                    {% if categoria.indicadores|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapsecat{{categoria.cat.id}}">
                                        {{categoria.cat.descripcion}} ({{categoria.indicadores|length}})
                                  </a>
                                </h4>
                            </div>                            
                             <div id="collapsecat{{categoria.cat.id}}" class="panel-collapse collapse">
                                 <div class="accordion-inner">
                                     <ul class="dropdown-menu dropdown-menu-visible" >
                                        {% for indicador in categoria.indicadores %}
                                        <li ><A id='{{indicador.id}}' class='indicador'
                                                data-id='{{indicador.id}}'
                                                data-unidad-medida='{{indicador.unidadMedida}}'>
                                                                {{indicador.nombre}}
                                            </A>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                 </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% if indicadores_no_clasificados|length > 0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseNC">
                                        {{"_no_clasificados_"|trans}} (<span id='cantidad_no_clasificados'>{{indicadores_no_clasificados|length}}</span>)
                                  </a>
                                </h4>
                        </div>                        
                         <div id="collapseNC" class="accordion-body collapse">
                             <div class="accordion-inner">
                                 <ul class="dropdown-menu dropdown-menu-visible" >
                                    {% for indicador in indicadores_no_clasificados %}
                                        <li ><A id='{{indicador.id}}' class='indicador'
                                                data-id='{{indicador.id}}'
                                                data-unidad-medida='{{indicador.unidadMedida}}'>
                                                            {{indicador.nombre}}
                                            </A>
                                        </li>
                                    {% endfor %}
                                </ul>
                             </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="content tab-pane" id="social">
            <div class='row'>
            <div class="col-md-3" >
                <form id="compartir_frm">
                    <fieldset>
                      <legend>{{'javascript._compartir_sala_'|trans}}</legend>
                      <div id="usuarios_sala"></div>
                    </fieldset>
                </form> 
            </div>
            <div class="col-md-6 comentarios" >
                <div id="chat">                    
                    <form id="chat-form">
                        <fieldset>
                            <legend>{{'_comentarios_'|trans}}</legend>
                            <textarea name="chat-mensaje" id="chat-form-mensaje" required="true"></textarea>
                            <button type="submit" class="btn btn-primary">{{'_enviar_'|trans}}</button>
                      </fieldset>
                    </form>
                    <div id="chat-mensajes"></div>
                </div>
            </div>
            </div>
        </div>
        <div id="acciones_sala" class="content tab-pane" ></div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{'_sala_situacional_'|trans}}</h3>
            </div>      
            <div class="modal-body">
                <label for="nombre_sala">{{'_nombre_sala_'|trans}}</label>
                <textarea id='nombre_sala' id-sala='' rows="3" style="width: 90%"></textarea>
                <BR/>
                <input type="checkbox" value="1" name="guardar_como" id="guardar_como">{{'_guardar_como_'|trans}}
                <span class='info' id='info_sala'></span>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{'_cerrar_'|trans}}</button>
                <button id='guardar_sala' class="btn btn-primary">{{'_guardar_cambios_'|trans}}</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"></h3>
            </div>

            <div class="modal-body">
                <span class='info' id='sql'></span>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">{{'_cerrar_'|trans}}</button>
            </div>
        </div>
    </div>
</div>
<div id="acciones_sala" ></div>
<div id="container" >
    <div id="wrapper">
        <div id="carousel"></div>            
        <a id="ui-carousel-prev" href="#" >
            <span>prev</span>
        </a>
        <a id="ui-carousel-next" href="#" >
            <span>next</span>
        </a>
    </div>
    <a id="ui-carousel-close" href="#" style="opacity: 1;" >        
    </a>
</div>
<div id="show-carousel">
    <a id="ui-carousel-show" href="#" style="opacity: 1;" >
        <span>{{'_mostrar_cinta_'|trans}}</span>
    </a>
</div>
{% endblock %}