{# Modificado para que agregar el botón para ir al listado #}

{% extends 'IndicadoresBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/indicadores/css/FichaTecnicaAdmin/tablero.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/indicadores/js/DataTables/media/css/jquery.dataTables.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/indicadores/js/DataTables/media/css/TableTools.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/indicadores/js/d3.v2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/affix.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/comun.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_pastel.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_columnas.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_lineas.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/grafico_mapa.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/FichaTecnicaAdmin/tablero.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/bridge_draggable_touch.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/jquery.ui.touch-punch.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/rasterizeHTML.allinone.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/DataTables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/DataTables/ZeroClipboard.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/indicadores/js/DataTables/TableTools.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="div_carga" class='affix'>
    <img id="cargador" src="{{ asset('bundles/indicadores/images/ajax-loader.gif') }}"/>
</div>

{% if is_mobile() %}
    {% include 'IndicadoresBundle:FichaTecnicaAdmin:menu_tablero_mobile.html.twig' %}
{% else %}
    {% include 'IndicadoresBundle:FichaTecnicaAdmin:menu_tablero.html.twig' %}
{% endif %}

<div id='nombre_sala2' ></div>
<div class="content" id="sala" >
    <div class="area_grafico zona_actual" id='grafico_1' >
        <DIV class= 'titulo'><span class='titulo_indicador'></span>
            <span>({{'_por_'|trans}} <span class='dimension' ></span>)</span>
        </DIV>
        <h6 class='filtros_dimensiones'></h6>
        <div class='controles btn-toolbar'></div>
        <div class="row-fluid info" ></div>
        <div class="row-fluid row_grafico" >
            <div class="grafico" ></div>
        </div>
    </div>
    <div class="area_grafico" id='grafico_2' >
        <DIV class= 'titulo'><span class='titulo_indicador'></span>
            <span>({{'_por_'|trans}} <span class='dimension' ></span>)</span>
        </DIV>
        <h6 class='filtros_dimensiones'></h6>
        <div class='controles btn-toolbar'></div>
        <div class="row-fluid info" ></div>
        <div class="row-fluid row_grafico" >
            <div class="grafico" ></div>
        </div>
    </div>
    <div class="area_grafico" id='grafico_3' >
        <DIV class= 'titulo'><span class='titulo_indicador'></span>
            <span>({{'_por_'|trans}} <span class='dimension' ></span>)</span>
        </DIV>
        <h6 class='filtros_dimensiones'></h6>
        <div class='controles btn-toolbar'></div>
        <div class="row-fluid info" ></div>
        <div class="row-fluid row_grafico" >
            <div class="grafico" ></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{'_sala_situacional_'|trans}}</h3>
    </div>

    <div class="modal-body">
        <label for="nombre_sala">{{'_nombre_sala_'|trans}}</label>
        <textarea id='nombre_sala' id-sala='' rows="3" style="width: 90%"></textarea>
        <span class='info' id='info_sala'></span>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{'_cerrar_'|trans}}</button>
        <button id='guardar_sala' class="btn btn-primary">{{'_guardar_cambios_'|trans}}</button>
    </div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel2"></h3>
    </div>

    <div class="modal-body">
        <span class='info' id='sql'></span>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{'_cerrar_'|trans}}</button>
    </div>
</div>
{% endblock %}
