{% extends 'IndicadoresBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/indicadores/js/OrigenDatosAdmin/merge.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <form action="{{ admin.generateUrl('merge_save') }}" method="post">
        <fieldset>
            <legend>{% if es_pivote %}{{'_datos_origen_fusionado_'|trans}} {% else %} {{'datos_origen_fusionado'|trans}}{%endif%}</legend>
                <label for="nombre">{{'nombre'|trans}}</label><input type="text" id='nombre' name='nombre'  required="true"/>
                <label for="descripcion">{{'descripcion'|trans}}</label><textarea type="text" id='descripcion' name='descripcion'  ></textarea>
        </fieldset>
    <TABLE border=1 class='table table-hover'>
        <caption><h4>{% if es_pivote %}{{'_mensaje_pivote_'|trans}} {% else %} {{'mensaje_fusionar'|trans}} {%endif%}</h4></caption>
        <THEAD>
            <TR>
                <TH></TH>
                <TH>{% if es_pivote %} {{'_campos_pivote_'|trans}} {% else %} {{'origen_fusionado'|trans}} {%endif%}</TH>
                {% for origen in origen_dato  %}
                    <TH>
                        {{origen.nombre}}<BR/> ({{'nombre_campo'|trans}} / {{'significado'|trans}})
                        <input type="hidden" value="{{origen.id}}" name='origenes_fusionados[]' />
                    </TH>
                {% endfor %}
            </TR>
        </THEAD>
        <TBODY>
            {% for campo in campos %}
            <TR>
                <TD>
                    <input type="checkbox" value="{{campo.value}}" name="campos_fusionar[]" checked="true"/>
                </TD>
                <TD>
                    {{campo.nombre}}
                </TD>
                {% for dato in campo.datos %}
                <TD>{{dato.nombre}} / {{dato.significado}}</TD>
                {% endfor %}
            </TR>
            {% endfor %}
        </TBODY>
    </table>
    <div class="well form-actions">
        <input class="btn btn-primary" type="submit" value="{{'guardar'|trans}}" name="btn_save">
    </div>
            <input type="hidden" name='es_pivote' value="{{es_pivote}}" />
    </form>
{% endblock %}
