{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        {% block stylesheets %}
            <!-- jQuery code -->
            <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/jquery/jquery-ui/css/flick/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" media="all" />

            <!-- css de eTAB -->
            <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />

            <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/custom_bootstrap.min.css') }}" type="text/css" media="all" />

            <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
            
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/x-editable/css/bootstrap-editable.css') }}" media="all">

            {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
                <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/select2/select2.css') }}" media="all">
                <style>
                    div.select2-container {
                        margin-left: 0px !important;
                    }

                    div.select2-drop ul {
                        margin: 0px !important;
                    }
                </style>
            {% endif %}

            <!-- base application asset -->
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />

            <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/custom_layout.css') }}" type="text/css" media="all" />

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
               };
            </script>
            <script src="{{ asset('bundles/indicadores/js/jquery/jquery-2.0.3.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/indicadores/js/jquery/jquery-ui/js/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/indicadores/js/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            
            <script src="{{ asset('bundles/sonataadmin/x-editable/js/bootstrap-editable.min.js') }}"></script>

            {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
                <script src="{{ asset('bundles/sonataadmin/select2/select2.min.js') }}"></script>
            {% endif %}

            <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
            {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}" type="text/javascript"></script>{% endif %}
            <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>

            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {% include (['IndicadoresBundle::messages_js.html.twig']|join) %}
        {% endblock %}

        <title>
            eTAB
            {#{{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ menu.label }}
                    {% endfor %}
                {% endif %}
            {% endif%}#}
        </title>
    </head>
    <body class="sonata-bc {% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}">
        {# initialize block value #}

        <!-- barra superior con el logo y el título -->
        <div  class="navbar navbar-fixed-top  " >
            <div  class="navbar-inner">
                <div  id="collapseOne" class="container-fluid accordion-body collapse in">
                    {#<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a> #}

                        <div class="navbar-text pull-right">
                            {% if app.user != '' %}
                            <div class='btn-group'>
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-user"></i> {{app.user}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><A href='{{url('sonata_user_admin_security_logout')}}'>{{"cerrar_sesion"|trans}}</A></li>
                                    <li><A href='{{url('fos_user_change_password')}}'>{{"_cambiar_clave_"|trans}}</A></li>
                                    <li class="divider"></li>
                                    {% for locale, lenguaje in {'es_SV':'Español', 'en_US':'English'} %}
                                        {% if locale == app.request.locale %}
                                            <li class='active'><A href='#'>{{lenguaje}}</a></li>
                                        {% else %}
                                            <li ><a href='{{url('change_locale',{_locale:locale})}}'>{{lenguaje}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    {% block logo %}
                        {# <a href="{{ url('sonata_admin_dashboard') }}" class="brand"> #}
                            <img src="{{ asset('/bundles/indicadores/images/logo_salud.png') }}"  />
                        {# </a> #}
                    {% endblock %}
                    {% if admin_pool is defined %}

                        {# MENU PRINCIPAL #}
                        <div  >
                            <ul class="nav">
                                {% block top_bar_before_nav %} {% endblock %}
                                {% block sonata_top_bar_nav %}
                                    {#{% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}#}
                                    {% if app.security.token  %}
                                        {% for group in admin_pool.dashboardgroups %}
                                            {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                            {% for role in group.roles if not display %}
                                                {% set display = is_granted(role)%}
                                            {% endfor %}
                                            
                                            {# Do not display the group label if no item in group is available #}
                                            {% set item_count = 0 %}
                                            {% if display %}
                                                {% for admin in group.items if item_count == 0 %}
                                                    {% if admin.hasroute('list') and admin.isGranted('LIST') 
                                                        or (admin.hasroute('tablero') and is_granted('ROLE_USER_TABLERO'))
                                                        or (admin.hasroute('cubos') and is_granted('ROLE_USER_CUBOS'))
                                                    %}
                                                        {% set item_count = item_count+1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                                    
                                            {% if display and (item_count > 0) %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ group.label|trans }} <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        {% for admin in group.items %}
                                                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                                <li><a href="{{ admin.generateUrl('list')}}">{{ admin.label|trans }}</a></li>
                                                            {% endif %}
                                                            {% if admin.hasroute('tablero') and (is_granted('ROLE_SONATA_ADMIN') or is_granted('ROLE_USER_TABLERO')) %}
                                                                <li><a href="{{ admin.generateUrl('tablero')}}">{{ 'indicador_tablero'|trans }}</a></li>
                                                            {% endif %}
                                                            {% if admin.hasroute('cubos') and (is_granted('ROLE_SONATA_ADMIN') or is_granted('ROLE_USER_CUBOS')) %}
                                                                <li><a href="{{ admin.generateUrl('cubos')}}">{{ '_cubos_'|trans }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endblock %}
                                {% block top_bar_after_nav %} {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% block notice %}
                {% for notice_level in ['success','error','info', 'warning'] %}
                    {% set session_var = 'sonata_flash_' ~ notice_level %}
                    {% for flash in app.session.flashbag.get(session_var) %}
                        <div class="alert {{ 'alert-' ~ notice_level }}">
                            {{ flash|trans([], 'SonataAdminBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endblock %}
            <div class="row-fluid" id='tool_actions'>
                <div class="span6">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ul class="breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {% for menu in admin.breadcrumbs(action) %}
                                        {% if not loop.last  %}
                                            {% if menu.label=='Dashboard' or menu.label=='⌂' %}
                                                <li><a href="{{ menu.uri }}"><i class="icon-home"></i></a><span class="divider">/</span></li>
                                            {% else %}
                                                <li><a href="{{ menu.uri }}">{{ menu.label|trans }}</a><span class="divider">/</span></li>
                                            {% endif %}
                                        {% else %}
                                            <li class="active">{{ menu.label }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ _breadcrumb|raw }}
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

            <div style="float: right">
                    {%block actions %}{% endblock %}
                </div>
            </div>

            <div class="row-fluid">
                {% if _side_menu is not empty %}
                    <div class="sidebar span2">
                        <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                    </div>
                {% endif %}

                <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">
                    {% block sonata_admin_content %}

                        {% if _preview is not empty %}
                            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                        {% endif %}

                        {% if _content is not empty %}
                            <div class="sonata-ba-content">{{ _content|raw }}</div>
                        {% endif %}

                        {% if _show is not empty %}
                            <div class="sonata-ba-show">{{ _show|raw }}</div>
                        {% endif %}

                        {% if _form is not empty %}
                            <div class="sonata-ba-form">{{ _form|raw }}</div>
                        {% endif %}

                        {% if _list_table is not empty or _list_filters is not empty %}
                            <div class="row-fluid">
                                <div class="sonata-ba-list span10">
                                    {{ _list_table|raw }}
                                </div>
                                <div class="sonata-ba-filter span2">
                                    {{ _list_filters|raw }}
                                </div>
                            </div>
                        {% endif %}

                    {% endblock %}
                </div>
            </div>

            {% block footer %}
                <!--<div class="pull-right clearfix">
                        <span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>
                </div>-->
            {% endblock %}
        </div>
    </body>
</html>
